<h1>Comments#show</h1>
<%= link_to 'Index Page', '/comments/index' %>

<div class="comment-show">

<svg></svg>

<p class="thanks">ありがとうございます。写真と鑑賞者の関係が、新たな線で結ばれました。<br />
あなたの感想ひとつで、写真は言語世界の無限へと開かれるのです。</p>

</div>

<%= javascript_include_tag "d3.min.js", "d3.layout.cloud.js" %>
<script>
d3.select('svg').append('text')
.attr({
	x:50,
	y:50,
	fill:"black",
	"font-size":40
})
.text('Loading...');

var dataset = [
<% @count_hash.each do |k,v| %>
	{"count":"<%= v %>","word":"<%= k %>"},
<% end %>
];

var update = function(data){
	console.log(data);
	
	// 描画エリアのサイズ
	var h = 500;
	var w = 960;

	var random = d3.random.irwinHall(2);

	var countMax = d3.max(data, function(d){ return d.count} );
	var sizeScale = d3.scale.linear().domain([0, countMax]).range([10, 100])
	var colorScale = d3.scale.category20();
 
	var words = data.map(function(d) {
		return {
			text: d.word,
			size: sizeScale(d.count/2) //頻出カウントを文字サイズに反映
			};
		});
	 
	d3.layout.cloud().size([w, h])
		.words(words)
		.rotate(function() { return Math.round(1-random()) *90; }) //ランダムに文字を90度回転
		.font("Impact")
		//.attr("opacity", 0)
		.fontSize(function(d) { return d.size; })
		.on("end", draw) //描画関数の読み込み
		.start();

	//wordcloud 描画
	function draw(words) {
		d3.selectAll('text').remove();
		d3.select("svg")
		.attr({
			"width": w,
			"height": h
		})
		.append("g")
		.attr("transform", "translate(" + w/2 + "," + h/2 + ")")
		.selectAll("text")
		.data(words)
		.enter().append("text")
		.style({
			"font-family": "Impact",
			"font-size":function(d) { return d.size + "px"; },
			"fill": function(d, i) { return colorScale(i); }
		})
		.attr({
			"text-anchor":"middle",
			"transform": function(d) {
				return "translate(" + [d.x, d.y] + ")" + "rotate(" + d.rotate + ")";
			}
		})
		.attr("opacity", 0)
		.transition()
		.duration(1500)
		.attr("opacity", 1.0)
		.text(function(d) { return d.text; });
	}
}

update(dataset);
</script>
<script>
console.log("@comment");
<% @comment.each do |row| %>
	console.log("<%= row.id %>,<%= row.comment %>,<%= row.created_at %>");
<% end %>

console.log("@word");
<% @word.each do |row| %>
	console.log("<%= row.id %>,<%= row.word %>,<%= row.part %>,<%= row.created_at %>");
<% end %>

console.log("@count_hash");
<% @count_hash.each do |k,v| %>
	console.log("<%= k %>:<%= v %>");
<% end %>
</script>