<h1>Comments#show</h1>
<p>Find me in app/views/comments/show.html.erb</p>

<p>@comment</p>
<p>
<% @comment.each do |row| %>
	<%= row.id %>,<%= row.comment %>,<%= row.created_at %><br />
<% end %>
</p>
<p>@word</p>
<p>
<% @word.each do |row| %>
	<%= row.id %>,<%= row.word %>,<%= row.part %>,<%= row.created_at %><br />
<% end %>
</p>
